
:root {
    
    --primary-dark-blue: #1c4566; 
    --secondary-light-blue: #3f6e91;
    --background-light: #f4f7f6;
    --card-border-color: #ddd;
    --dark-text: #333;
    --light-text: #fff;
    --link-color: #1e719c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--dark-text);
    background-color: var(--background-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
}


header {
    background-color: var(--primary-dark-blue);
    color: var(--light-text);
    padding: 1rem 2rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#course-title {
    font-size: 1.5em;
    font-weight: normal;
    padding-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0; 
    width: 100%;
}

nav li {
    flex-grow: 1; 
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

nav li:last-child {
    border-right: none;
}

nav a {
    color: var(--light-text);
    padding: 0.75rem 0; 
    background-color: var(--secondary-light-blue);
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--primary-dark-blue);
    text-decoration: none;
}


main {
    flex-grow: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    
    
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 15px; 
}

h1 {
    display: none; 
}


.card {
    background-color: #fff;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    overflow: hidden;
}


.card h2 {
    background-color: var(--primary-dark-blue);
    color: var(--light-text);
    padding: 1rem;
    margin: 0;
    font-weight: normal;
    text-align: center;
}


.card-content {
    padding: 1.5rem;
}


.card:first-child .card-content {
    display: flex; 
    gap: 1.5rem;
}

.about-text {
    flex: 2; 
}

.profile-image-container {
    flex: 1;
    text-align: center;
}

.card img[alt*="profile image"] {
    width: 100%;
    max-width: 150px;
    height: auto;
    border: 1px solid var(--card-border-color);
    border-radius: 3px;
    margin-bottom: 1em;
    float:left
  



.flag-section {
    padding-top: 1rem;
    border-top: 1px solid var(--card-border-color);
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flag-section img {
    max-width: 120px;
    height: auto;
    border: 1px solid #000;
}


.card:last-child ul {
    list-style-type: disc;
    padding-left: 1.5em; 
}

.card:last-child li {
    margin-bottom: 0.5em;
}
}