
        
        @media (min-width: 768px) {
            
            /* --- Header & Navigation (Large) --- */
            
            #menu-button {
                display: none;
            }

            nav {
                position: static; 
                background-color: transparent;
            }

            #nav-menu {
                display: flex;
                flex-direction: row;
            }

            #nav-menu li {
                border-bottom: none; 
            }

            #nav-menu a {
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }

            #nav-menu a:hover {
                background-color: transparent; 
                text-decoration: underline;
                text-decoration-color: var(--accent-color);
                text-decoration-thickness: 2px;
            }

            /* --- Gallery Grid (Large) --- */
            
            .gallery {
                
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
        }
       